<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<MessageBusOptions__TopicName>precatorios</MessageBusOptions__TopicName>
			<MessageBusOptions__ConnectionString>Endpoint=sb://up4all-dev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=0sDh9++gyHwkv/EZq0WjsU52nKjAu5v5E2u57Uf9xPk=</MessageBusOptions__ConnectionString>
			<MessageBusOptions__QueueName>test-queue</MessageBusOptions__QueueName>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>